.App {
  text-align: center;
}

body {
  background-color: #3bff6729;
}

.App-logo {
  cursor: pointer;
  display: inline;
  height: 250px;
  margin-top: 70px;
}

.App-logo:active {
  transform: translateY(4px);
}

.Dog-logo {
  cursor: pointer;
  display: inline;
  margin-right: 90px;
}

.Dog-logo:active {
  transform: translateY(4px);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Player {
  margin-top: 20px;
}